.works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    height: auto;
    border-radius: 20px;

    .ant-card-body {
        .photoCard {
            .card-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 1.5px;
                width: 200px;
                height: 250px;
            }
        }
    }

    .ant-pagination-item {
        border-color: #000 !important;

        a {
            &:hover {
                color: aquamarine !important;
            }
        }
    }

    .ant-pagination-item-active {
        a {
            color: #000 !important;
        }
    }
}