.ant-message {

    div {
        span {
            color: #333 !important;
        }
    }
}

.add-card {
    height: auto;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    .ant-card-body {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            text-align: center;
        }

        .ant-input {
            height: 100px;
            width: 100%;
            border-radius: 2.5px;
            padding: 5px;
            transition: 2s ease-in-out;
            box-shadow: none;

            &:hover,
            &:focus {
                outline: 1px solid #ddd;
                border: 1px solid #ddd !important;
            }
        }

        button {
            width: 100px;
            height: 45px;
            align-self: flex-end;

            &:hover,
            &:focus {
                color: #ef233c !important;
                border: 1px solid #ef233c !important;
            }
        }
    }
}

.message-card {
    width: 100%;
    height: auto;
    transition: all 0.2s;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);


    .circle {
        width: 50px;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        // backdrop-filter: blur(1.5px);
        border-radius: 50%;
        position: absolute;
        animation: move-up6 2s ease-in infinite alternate-reverse;
        top: -10px;
        left: -25px;
    }

    .messages-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .message-item {
            min-height: 100px;
            max-height: 400px;
            min-width: 200px;
            width: auto;
            max-width: 400px;
            color: #000;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-break: anywhere;
            margin: 20px 0;
            padding: 25px;
            
            &:hover {
                box-shadow: 0 0 10px #ef233c;
            }
            h3{
                font-size: 20px;
                span{
                    margin-left: 2.5px;
                }
            }
            p{
                font-size: 16px;
            }
        }
    }

}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}