@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
}

.error-page {
  height: 75%;
  min-height: 600px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .error404 {
    height: 500px;
    width: 500px;
  }

  h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7.5% !important;
  min-height: 70px;
  width: 100%;
  background-color: white !important;
  border-bottom: 1px solid black;

  position: sticky;
  top: 0;
  z-index: 10;

  img {
    height: 50px;
    width: auto;
  }

  .user-switch {
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;

    .antd-switch {
      width: 20px;
      background: url("../public/img/sun.png") center center no-repeat;

      &:hover {
        background-color: #00296b;
      }

      &.ant-switch-checked:hover {
        background-color: #ffe169;
      }

    }

    .ant-switch-checked {
      background: url("../public/img/moon.png") center center no-repeat;
    }

    a {
      color: #6a040f;
    }

    p {
      margin: 0;
    }
  }

}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

footer {
  height: 10.5%;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  background-color: white !important;

  img {
    height: 50px;
    width: auto;
  }

  p {
    vertical-align: middle;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}